$moon-pure: #000;
$moon-800: #424242;
$moon-600: #5e5e5e;
$moon-400: #969696;
$moon-200: #c2c2c2;
$moon-100: #dfdfdf;
$san-master: #ffffff;
$purple-pure: #3d0055;
$purple-800: #520081;
$purple-600: #6f00af;
$purple-400: #8700d4;
$purple-200: #9f00fc;
$purple-200: #bd4bff;
