body {
  font-family: "Montserrat", sans-serif;
}

.sbox-filter-blur {
  filter: blur(10px);
}

.sosmet-logo svg {
  height: 25px;
}
.navbar {
  padding: 0.2rem 1rem;
}

.avatar-small {
  height: 30px !important;
  width: 30px !important;
  object-fit: cover !important;
  border-radius: 100%;
}

.avatar-medium {
  height: 50px !important;
  width: 50px !important;
  object-fit: cover !important;
  border-radius: 100%;
  padding: 0 !important;
}

.avatar-large {
  height: 140px !important;
  width: 140px !important;
  object-fit: cover !important;
  border-radius: 100%;
  padding: 0 !important;
}

.top-nav {
  border-bottom: 1px solid #dddddd;
  background-color: #fff;
}

.img-avatar-navbar,
.img-avatar {
  object-fit: cover;
}

.login-btn {
  border: 1px solid #7f37a0 !important;
  color: #7f37a0 !important;
  margin-right: 40px;
}

.login-btn:hover {
  border: 1px solid #401a52 !important;
  color: #401a52 !important;
}

/**--botstrap overider--**/

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: unset;
}

.btn:focus svg path {
  fill: #be31ff;
}

.btn:hover svg path {
  fill: #5c0c81;
}

.text-muted {
  color: #8e8e8e !important;
}

.p-absolute-storage-nav-clicked {
  top: 16px !important;
}

.p-absolute-storage-nav {
  top: 17px !important;
}

.modal-content {
  margin-top: 0rem !important;
}

.modal-backdrop {
  background-color: #ffffff;
}

.btn-danger:hover {
  background-color: #f00000;
  border-color: #ff0000e3;
}

.btn-danger {
  border-color: #ff0000e3;
}

.form-control {
  background-color: transparent !important;
  border: 1px solid #cccccc;
  padding: 10px;
}
.form-control:focus {
  color: #612a7a;
  background-color: #fff;
  border-color: #c87eff;
  outline: 0;
  box-shadow: 5px 6px 0 0rem rgb(229 177 255 / 25%);
}

.card-no-round .form-control:focus {
  color: #0b4900;
  background-color: #fff;
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(72, 255, 0, 0);
}

.bs-popover-bottom,
.bs-popover-auto[x-placement^="bottom"] {
  margin-top: 0.5rem !important;
}

.popover-header {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.popover {
  position: absolute;
  transform: translate3d(174px, 362px, 0px) !important;
  z-index: 1060;
  display: block;
  max-width: 1000px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: unset !important;
}

.popover-body {
  padding: 1.5rem 1.75rem;
  color: #212529;
}

.share-button-group svg {
  height: 20px !important;
}

.popover .arrow {
  transform: translate3d(68px, 0px, 0px) !important;
}
.search-container {
  background-color: #ffffff00;
  padding: 6px 20px;
}

.search-container .form-control:focus {
  box-shadow: unset;
  border-right: 1px solid #7f37a0;
}

.signup-btn {
  background-color: #7f37a0;
  color: #fff;
}

.signup-btn:hover {
  background-color: #572070;
  color: #fff;
}

.nav-link {
  color: #000000;
}

.nav-link:hover {
  color: #ad1af1;
}

/*--navbar home page--*/
.dropdown-divider {
  border: 1px solid #dfdfdf;
}

.who-am-i-navbar-detail {
  padding: 20px 20px 10px 20px;
}

.dashboard-link {
  padding: unset;
}

.dropdown-menu.show {
  transform: translate3d(-58px, 45px, 0px) !important;
  z-index: 3;
}

.storage .dropdown-menu.show {
  transform: translate3d(-76px, 43px, 0px) !important;
  z-index: 3;
}

.dropdown-menu {
  box-shadow: 0px 12px 20px 7px rgb(253 244 255);
  left: -30px !important;
  top: 10px !important;
}

.dropdown-item {
  padding: 10px 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #a248cc;
  text-decoration: none;
  background-color: transparent;
}

.dropdown-toggle:after {
  content: none;
}

.dropdown-menu.show::before {
  content: "";
  position: absolute;
  top: -21px;
  right: 47px;
  border: 10px solid #ffffff;
  border-bottom-color: #00000026;
}
.dropdown-menu.show::after {
  content: "";
  position: absolute;
  top: -19px;
  right: 47px;
  border: 10px solid #ffffff00;
  border-bottom-color: #ffffff;
}

.logout-btn {
  padding: unset !important;
  font-weight: bold;
  color: #f00000;
}

/*--home page--*/

/**--post card box--**/

.card-no-round {
  padding: 20px 20px 0px 20px;
  border: 1px solid #9140b6;
  position: relative;
  /* margin-bottom: 1rem; */
}

.post-bottom-btn {
  text-align: right;
}

.post-btn {
  padding: 8px 40px;
}

.public-feeds-home {
  position: fixed;
  margin-right: 32rem;
  padding-top: 1px;
}

.public-feeds-home-relative {
  position: relative;
}

.public-feeds-home-wrapper {
  overflow: hidden;
  height: 480px;
  width: 700px;
  overflow-y: scroll;
  /* padding-bottom: 60vh; */
  padding-top: 20px;
}

/**--feed wrapper--**/
.section-main {
  padding-top: 60px;
}

.storage-page {
  padding-top: 42px !important;
}

.public-user-page {
  padding-top: 42px !important;
}

.stor-page-first-row {
  padding-bottom: 60px;
}

.pub-page-first-row {
  padding-bottom: 60px !important;
}

.pub-page-first-row {
  margin-top: 8px;
}
.stor-page-first-row {
  padding-bottom: auto;
}

.feeds-wrapper {
  margin-top: 30px;
  display: inline-block;
  position: relative;
}

.image-profile img {
  object-fit: cover;
}

.post-detail-link {
  color: #000;
  display: block;
  background-color: white;
  padding: 11px 80px 0px 10px;
  border-bottom: 1px solid #f3f3f3;
  z-index: 0;
  position: relative;
}

.feeds-post {
  padding-right: 90px;
}

.post-detail-link:hover {
  color: rgb(26, 26, 26);
  text-decoration: none;
  background-color: transparent;
}

.feeds-whoami-page .post-detail-link:hover {
  /* color: rgb(26, 26, 26);
  text-decoration: none;
  background-color: #d3d3d33a;
  border-bottom: none; */

  color: rgb(26, 26, 26);
  text-decoration: none;
  background-color: transparent;
}

/* .quotes-people-box-list {
  border-bottom: 1px solid #dddddd;
 
} */

.username {
  font-weight: bold;
}

.second-text {
  margin-top: 20px;
  margin-bottom: 39px;
}

.follow-button-group {
  z-index: 4;
  position: relative;
  display: block;
}

.follow-btn {
  z-index: 6;
  position: relative;
  display: block;
  border: 1px solid #7f37a0;
  color: #7f37a0;
  font-size: 12px;
}

.follow-btn:hover {
  border: 1px solid #ad1af1;
  color: #ad1af1;
}

/**--sidebar--**/
.sidebar-wrapper {
  margin-top: 30px;
  position: relative;
}

.sticky-wrapper-aside {
  position: fixed;
  width: 300px;
}

.sidebar-suggested-account {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 30px;
}

.sidebar-landing-page-heading {
  line-height: 1.5;
  font-weight: bold;
  padding-bottom: 40px;
  border-bottom: 1px solid #dddddd;
}
.sidebar-home-page-profile-overview {
  line-height: 1.5;
  border-bottom: 1px solid #dddddd;
}

.suggested-users-list {
  height: 250px;
}

/* .suggested-users-list:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 17%
  );
} */
/* 
.suggested-users-list:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 17%
  );
} */

.suggested-account-item {
  display: flex;
}

.suggested-account-item .username {
  font-size: 9px;
}

.suggested-account-item .name {
  font-size: 10px;
}

.username-follow-wrapper {
  width: 100%;
  display: inline-flex;
}

.suggested-user-link {
  color: #000;
  text-decoration: none;
}

.suggested-user-link:hover {
  color: rgba(0, 0, 0, 0.672);
  text-decoration: none;
}

.suggested-account-folow-btn {
  color: #7f37a0;
  text-decoration: none;
  font-size: 10px;
}

.suggested-account-folow-btn:hover {
  color: #a248cc;
  text-decoration: none;
}

.more-account {
  font-weight: bold;
  font-size: 13px;
}

.more-account-link:hover {
  text-decoration: none;
}

.more-account-link path {
  fill: #7f37a0;
}

.about {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 10px;
}

.about .nav-about {
  margin-bottom: 16px;
  padding-top: 10px;
}

.about .nav-about .underlist-link {
  margin-right: 16px;
  list-style: none;
  display: block;
  padding-left: 0;
}

.about .nav-about .underlist-link .list-link {
  margin: 0;
  display: inline-block;
  color: #000;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  margin-bottom: 5px;
}

.nav-tabs {
  border-top: 1px solid #dee2e6;
  border-bottom: none;
}

.nav-link {
  padding: 10px 0px 10px 0px;
}

.nav-tabs .nav-link {
  border: unset;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 76px;
  margin: auto;
  display: -webkit-box;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #000000;
  background-color: #fff;
  border-color: unset;
  border-top: 1px solid #000;
  transform: translateY(-1px);
}

.about .nav-about .underlist-link .list-link a {
  text-decoration: none;
  font-size: 8px;
  color: #9c9c9c;
  font-weight: 400;
  line-height: 13px;
}

.about .nav-about .underlist-link .list-link:not(:last-child):after {
  content: "\00B7";
  margin: 0 0.25em;
  color: #9c9c9c;
}

.copyright {
  color: #9c9c9c;
  text-decoration: none;
}

.container-box {
  padding-top: 8rem;
}
/*--Register Login Form--*/
.auth-form-control {
  border-right: 1px solid #dddddd !important;
  border-bottom: 1px solid #dddddd !important;
  border-left: 1px solid #dddddd !important;
  border-top: 1px solid #dddddd !important;
}

.font-comment {
  font-size: 0.7rem;
}

.box-comment {
  background-color: #fafafa;
  border-radius: 4px;
  padding: 1px 6px 6px 6px !important;
  width: auto !important;
}

/**--**/
.modal-content {
  margin-top: 30%;
}

.modal-body .form-control:focus {
  box-shadow: unset;
  border-right: 1px solid transparent;
}

/**--edit profile--**/

/* .accounts/edit-details-wrapper {
  margin-bottom: 20rem;
} */

.accounts/edit-form {
  background-color: transparent !important;
  border-right: 1px solid #dddddd !important;
  border-bottom: 1px solid #dddddd !important;
  border-left: 1px solid #dddddd !important;
  border-top: 1px solid #dddddd !important;
  padding: 10px;
}

.form-edit-overflow {
  overflow: hidden;
  height: 100vh;
  padding-right: 30px;
  overflow-y: scroll;
}

/**--suggested page--*/

.suggested-page .suggested-users-list {
  padding: 10px 30px 30px 30px;
  overflow: hidden;
  overflow-y: scroll;
  height: 500px;
  border: 1px solid #e7e7e7;
}

/**--profile page--**/
/* .heading-profile-page-wrapper {
  position: relative;
} */

.feeds-whoami-page {
  position: relative;
}

.feeds-whoami-page-wrapper {
  position: fixed;
}

.feeds-whoami-page-overflow {
  height: 680px;
  width: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* padding-bottom: 16rem; */
}

/**--edit profile--**/
.ava-form-label-group {
  position: relative;
}

.icon-change-ava {
  position: absolute;
  left: 62px;
  top: 62px;
}

.change-ava-btn {
  background-color: transparent;
  border: unset;
  color: #ad1af1;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.change-ava-btn:hover {
  color: #5a0681;
}

.ava-cover-opacity {
  background-color: #ffffff73;
  min-width: 100%;
  min-height: 100%;
  border-radius: 100%;
  position: absolute;
}

.ava-cover-opacity:hover {
  background-color: #97019073;
  cursor: pointer;
}
/* 
.ava-form-label-group:hover {
  background-color: #41414173;
} */

.form-image-change {
  padding-top: 3rem;
  padding-left: 2rem;
}

/* .ava-form-label {
  background-color: #a248cc;
  padding: 10px;
} */

/**--modal box change ava-**/
.box-file-see {
  border: 1px solid #f0f0f0;
}

.browse-and-upload-btn-group {
  text-align: right;
}

/*--share link--*/
.logo-copy-link,
.logo-copy-link:focus {
  background-color: unset;
  border: unset;
  outline: unset;
}

/*--post detail--*/
.separator-text::before,
.love-info-numbers::before {
  content: "\00B7";
  margin: 0 0.35em;
  color: #757575;
}

.testcccc .nav-link {
  position: relative;
  z-index: 90;
}
.testcccc.show img {
  border: 2px solid #7f37a0;
  padding: 2px;
}

.icon-logout svg,
.icon-profile svg {
  height: 18px;
  margin-right: 12px;
}

.icon-setting svg {
  height: 18px;
  margin-right: 12px;
}

.ava-wrapper-edit img {
  object-fit: fill;
}

.card-video {
  border-radius: 0px !important;
  border-color: #a248cc;
}
.card-video::after {
  background-color: #9140b6;
}

.card-video video {
  object-fit: cover;
}

.icon-storage-add {
  padding: 10px;
}

.add-image-text {
  padding-left: 4px;
}

.add-video-text {
  padding-left: 2px;
}

.add-doc-text {
  padding-left: 5px;
}

.card-hover {
  cursor: pointer;
}

.card-hover:hover .card-video::before {
  opacity: 1;
}

.card-video::before {
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
  background-image: url(https://static-web-prod-vidio.akamaized.net/assets/packs/media/icons/play-button-white-3a5c20eb.svg);
  background-position: 56%;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  border-radius: 100%;
  display: inline-block;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

.row.post-detail > iframe {
  width: 100% !important;
}

.feeds-post > audio {
  width: 100vw;
  border-radius: 0px !important;
  background-color: #f1f3f4;
}

.row.post-detail {
  font-size: 12px;
}
.row.post-detail > audio {
  width: 100vw;
  border-radius: 0px !important;
  background-color: #f1f3f4;
}

.feeds-post > audio:focus {
  outline: unset !important;
}

.row.post-detail > audio:focus {
  outline: unset !important;
}

.react-datepicker-wrapper {
  display: block !important;
}

.react-datepicker-popper {
  transform: translate3d(149px, 264px, 0px) !important;
}

.react-datepicker__triangle {
  left: 30px !important;
}

.Toastify__toast-container {
  position: fixed;
  padding: 4px;
  width: auto !important;
}

.Toastify__toast--error {
  background: #ff7a7ad5;
  border: 2px solid rgb(255, 0, 0);
  box-shadow: unset;
  border-radius: 0px;
  font-size: 12px;
  color: rgb(221, 0, 0);
}

.Toastify__toast--success {
  background: #85ff99d5;
  border: 2px solid rgb(0, 255, 34);
  box-shadow: unset;
  border-radius: 0px;
  font-size: 12px;
  color: rgb(0, 73, 28);
}
.Toastify__close-button--success svg {
  color: rgb(0, 70, 6);
}

.Toastify__toast-body {
  font-family: "Montserrat", sans-serif !important;
  text-align: center !important;
  justify-content: center !important;
  font-weight: 600;
}

.section-main-mobile {
  padding-top: 0px;
}

.bio-desc-user-public-posts-page {
  width: 900px;
}

.col-lg-public-user-page {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.feeds-post-public-page {
  display: block;
  padding-right: 28%;
}

.feeds-post-public-page > audio {
  width: 500px;
  border-radius: 0px !important;
  background-color: #f1f3f4;
}
.second-col-1st-row-2nd {
  width: 450px;
}

.back-to-home-auth {
  bottom: 20px;
  left: 50px;
}

/* .col-feed-profile-page {
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
} */

.search-modal-body {
  top: 42px !important;
  z-index: 0 !important;
}

.search-modal-backdrop {
  opacity: 0 !important;
  z-index: 0 !important;
}

.search-modal-body .modal-dialog {
  max-width: 257px !important;
}

.search-modal-body .dashboard-link {
  box-shadow: 0px 12px 20px 7px rgb(253 244 255);
}

.search-modal-body .dashboard-link::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 47px;
  border: 10px solid #ffffff;
  /* border-bottom-color: #00000026; */
}
.search-modal-body .dashboard-link::after {
  content: "";
  position: absolute;
  top: -19px;
  right: 47px;
  border: 10px solid #ffffff00;
  /* border-bottom-color: #ffffff; */
}

.search-modal-body > .modal-dialog-centered {
  min-height: 0px !important;
}

@media (min-width: 576px) {
  .search-modal-body .modal-dialog-centered {
    min-height: 0px !important;
  }
}

.search-result {
  transform: translate3d(615px, 80px, 22px);
  background-color: #fff;
  border: 1px solid #dddddd;
}

.search-result .dashboard-link {
  box-shadow: 0px 12px 20px 7px rgb(253 244 255);
}

.search-result .dashboard-link::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 47px;
  border: 10px solid #ffffff;
  border-bottom-color: #00000026;
}

.search-result .dashboard-link::after {
  content: "";
  position: absolute;
  top: -19px;
  right: 47px;
  border: 10px solid #ffffff00;
  border-bottom-color: #ffffff;
}

.sosmet-search-form {
  border-left: none;
  border-bottom: none;
  border-top: none;
}

.card {
  overflow: hidden !important;
  border-radius: 8px !important;
  border: 1.5px solid rgb(238, 238, 238);
}
.card-journal::after {
  content: none;
}

.edit-journal-button {
  background-color: rgba(39, 39, 39, 0.178);
  border-radius: 3px;
  font-weight: 600;
  font-size: 8px;
  padding: 2px 4px;
  margin-top: 8px;
  margin-left: 8px;
  text-decoration: none;
  color: #fff;
}

.edit-journal-button:hover {
  background-color: rgb(194, 40, 255);
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.background-image-thumbnail {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-journal {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 85%;
  font-size: 10px;
  color: #fff;
  font-weight: bold;
  padding: 12px;
}

.background-shawdow-gradient-text {
  background: linear-gradient(
    to top,
    rgba(var(--jb7, 0, 0, 0), 0.4) 0%,
    rgba(var(--jb7, 0, 0, 0), 0) 60%
  );
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.rdw-editor-main {
  overflow: hidden;
  overflow-x: scroll;
}

.journals-editor-container {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
}

.sidebar-journal-editor {
  position: relative;
  flex: 0 0 245px;
}

.rdw-editor-main {
  height: 60vh !important;
}
/*
/*
/*
---  Public User Page ---*/
.post-btn {
  background-color: unset !important;
  color: #b516ff;
  border-color: #b516ff;
  min-width: 85px;
  font-size: 8px;
}

.create-journal-btn {
  background-color: unset !important;
  color: #b516ff;
  border-color: #b516ff;
  min-width: 85px;
  font-size: 8px;
}

.create-journal-btn:hover,
.post-btn:hover {
  background-color: #780091 !important;
  color: #d780ff;
  border-color: #d816ff;
  min-width: 85px;
  font-size: 8px;
}

/*
/*
/*
---- Journal Page Detail --**/
.journal-page-detail-main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
article {
  display: block;
  margin-bottom: 10rem;
}

.entry-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  margin-left: auto;
  margin-right: auto;
}

.entry-title {
  margin-bottom: 30px !important;
  text-align: left;
}

.author-detail-share-button-container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding-bottom: 8px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  margin-left: auto;
  margin-right: auto;
}

.author-detail-journal-time-stamps {
  display: flex;
  align-items: center;
}

.avatar-author {
  flex-wrap: wrap;
  padding: 2px;
  border: 3px solid;
  border-radius: 100%;
  border-color: #7f37a0;
}

.social-icon-link {
  list-style-type: none;
  display: -webkit-inline-box;
}

.share-link-list > a {
  display: block;
  padding: 12px 12px 9px;
  text-align: center;
}

.share-link > svg {
  fill: #000 !important;
  width: 20px;
  height: 20px;
}
.avatar-journal {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.author-name-time-stamp-reading-time {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  font-size: 1rem;
}

.author-name {
  font-weight: bold;
  font-size: 14px;
}

.time-stamp-reading-time {
  font-size: 12px;
  display: flex;
}

.reading-time::before {
  content: "\00B7";
  margin: 0 0.5em;
  color: rgb(183, 0, 207);
}

.entry-content > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  margin-left: auto;
  margin-right: auto;
}

.journal-page-detail-main .entry-content > p {
  line-height: 1.5;
}

.journal-page-detail-main .entry-content > h1,
h2 {
  margin-bottom: 20px;
  margin-top: 40px;
}

.author-bottom-share-claps-download-group {
  margin: 60px auto 0 auto;
  max-width: 1140px;
}

.author-bottom-share-claps-download-group > * {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.claps-share-download-group {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #e8e8e8;
  margin-bottom: 26px;
}

.icon-download {
  min-width: 200px;
  display: flex;
  max-height: 30px;
  position: relative;
  cursor: pointer;
}

.title-icon-download {
  padding-top: 8px;
  padding-left: 10px;
  font-size: 10px;
  font-weight: bold;
}

.share-button-bottom {
  display: grid;
  position: relative;
  top: -5px;
}
.title-share {
  font-size: 10px;
  font-weight: bold;
}

.author-details-group {
  border-bottom: 1px solid;
  border-color: #e8e8e8;
  margin-bottom: 8rem;
  padding-bottom: 40px;
}

.author-details-body {
  display: flex;
}

.avatar-journal-bottom {
  border-radius: 100px;
  width: 68px;
}

.author-details-content {
  padding-left: 26px;
  width: 100%;
}

.title-written-text {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.author-name-follow-btn {
  justify-content: space-between !important;
  display: flex;
  width: 100%;
  max-width: 100%;
}

.link-profile-journal-bottom {
  text-transform: capitalize;
  font-size: 18px;
}

.author-bio-row {
  max-width: 550px;
}
.author-bio-content-on-journal {
  font-weight: 400;
  font-size: 14px;
}
/*
/*
/*
---- Storage Page --**/

.storage-video-detail-page {
  width: 100%;
}
.card-image {
  border-radius: 0px !important;
  border-color: #fff;
}

.card-video {
  border-radius: 0px !important;
  margin: 6px;
}

audio:focus {
  outline: unset !important;
}

video:focus {
  outline: unset !important;
}

/*
/*
/*
---- Video Detail Page --**/
.vide-page-detail-container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding-bottom: 8px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
